<% provide(:title, "Edit yardsale") %> 
<h1>Update your yardsale</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(setup_yardsale(@yardsale)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :date, class: "form-date-label" %>
      <%= f.text_field :date, class: "form-date-field" %>

      <%= f.label :begin_time, "Begin Time", class: "form-time-label" %>
      <%= f.text_field :begin_time, class: "form-time-field" %>

      <%= f.label :end_time, "End Time", class: "form-time-label" %>
      <%= f.text_field :end_time, class: "form-time-field" %>

      <%= f.fields_for :address do |a| %>
        <%= a.label :street %>
        <%= a.text_field :street %>

        <%= a.label :city %>
        <%= a.text_field :city %>

        <%= a.label :state %>
        <%= a.text_field :state %>
          
        <%= a.label :zip_code %>
        <%= a.text_field :zip_code %>
      <% end %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= button_to "Cancel", root_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
